@{title('@(Gift)')}
@{sitemap('checkout')}

<div class="padding">
    <h1>@{title}</h1>
    <div class="row">
        <div class="col-md-8 col-md-offset-2 ui-center">
            <hr />
            <br />
            <div>@(Dear user, you will take this product on e-mail.)</div>
            <br />
            <hr />
            <br />
            <br />
            <a href="@{sitemap_url('homepage')}" class="linkbutton">@(Back to Homepage)</a>
            <br />
            <br />
        </div>
    </div>
</div>